# ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pvsm
*.pyc
*.egg-info/
*.egg
*.xdmf
*.h5
*.msh
*.png
*.code-workspace

# Folders
helmholtz_x.egg-info/
Plots/
# data directories
RijkeTube/Results
RijkeTube/Meshes
RijkeTube/InputFunctions
KornilovCase/Results
KornilovCase/Meshes
KornilovCase/InputFunctions
Figures/Images
# except this specific file
!Figures/plot_fig6.pvsm
!Figures/plot_fig9.pvsm