# ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pvsm
*.pyc
*.egg-info/
*.egg
*.xdmf
*.h5
*.msh
*.png

# Folders
helmholtz_x.egg-info/
Plots/
# data directories
RijkeTube/Results
RijkeTube/Meshes
RijkeTube/InputFunctions
KornilovCase/Results
KornilovCase/Meshes
KornilovCase/InputFunctions
